@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body{
    // background-color: rgb(32, 31, 31) rgb(17, 17, 17);
    background-color: #000;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

h1,h2,h3,p,li,ul,a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

button, a{
    cursor: pointer;
}

body .animation{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #0f1200;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(158, 175, 0);;
}

.wrapper{
    margin: 25vh auto 0;
    max-width: 650px;
    border: 2px solid rgb(126, 126, 122);
    padding: 0;
    background: #080808;
}


.inner{
    border: 2px solid rgb(46, 45, 2);
    border-radius: 10px;
    padding: 20px;
    margin: 0 50px 50px 50px;
    @media(max-width: $phoneWidth) {
      &{
        padding: 10px;
        margin: 0 30px 30px 30px;
      }
    }
  }

.title{
    margin-bottom: 10%;
    font-size: rem(35);
    font-weight: 600;
    color: rgb(97, 95, 4);
}

.bonfire{
    position: fixed;
    bottom: 0;
    right: 0;
    width: rem(150);
    height: rem(150);
    object-fit: contain;
    z-index:  -1;
}
